[store]
# Project and articleset defined per scraper
host: localhost
port: 9876
username: amcat
password: amcat
ssl: false

[mail]
host: mail.hmbastiaan.nl
port: 587
from: scraping@hmbastiaan.nl
to: martijn@hmbastiaan.nl
username: babadook
password: baaabaaaadoooook
tls: true

[*]
# Section with defaults for all scrapers
articleset: 38
project: 1
print_errors: yes

[AD]
username: abc
password: abc
class: newspapers.ad.AlgemeenDagbladScraper

[VK]
username: abc
password: abc
class: newspapers.volkskrant.VolkskrantScraper

[Trouw]
username: abc
password: abc
class: newspapers.trouw.TrouwScraper

[FD]
username: abc
password: abc
class: newspapers.fd.FinancieelDagbladScraper

[NRC.Handelsblad]
username: abc
password: abc
class: newspapers.nrchandelsblad.NRCHandelsbladScraper

[NRC.Next]
username: abc
password: abc
class: newspapers.nrcnext.NRCNextScraper

[Telegraaf]
username: abc
password: abc
class: newspapers.telegraaf.TelegraafScraper

[GS]
class: blogs.geenstijl.GeenstijlScraper

[FOK]
class: news.fok.FOKScraper

